@use 'variables' as v;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: v.$Dark-cyan;
    font-family: v.$Font;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    // ============================================//
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
}
.main-container{
    width: 330;
    height: 375;
    border-radius: 10px;
    overflow: hidden;
    margin: 148px auto 50px;
    position: relative;
    // =============== Seccion 1 ==================//
    &__card{
        width: 100%;
        height: 140px;
    }

    // =============== Seccion 2 ==================//
    &__usuario{
        background-color: white;
        text-align: center; 
    }
    &__usuario-container-image{
        position: absolute;
        top: 87px;
        left: 35%;
        height: 96px;
    }
    &__usuario-image{
        border: 3px solid white;
        border-radius: 50%;
        transition: 300ms;
    }
    &__usuario-image:hover{
        border: 3px solid rgb(185, 229, 233);
        border-radius: 50%;
        transition: 300ms;
    }
    &__usuario-container-data{
        height: 150px;
        padding: 70px;
    }
    &__usuario-name{
        color: v.$Very-dark-desaturated-blue;
        font-weight: 700;
    }
    &__usuario-age{
        color: v.$Dark-gray;
    }
    &__usuario-city{
        color: v.$Dark-gray;
        margin-top: 10px;
        font-size: 0.8em;
    }

    // =============== Seccion 3 ==================//
    &__stats{
        border-top: 1px solid v.$Dark-gray;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 90px;
        
    }
    &__stats-container{
        text-align: center;
    }
    &__stats-number{
        color: v.$Very-dark-desaturated-blue;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__stats-description{
        color: v.$Dark-gray;
        font-size: 0.6em;
        letter-spacing: 2px;
    }

    
}

@media (min-width: 1440px){
    .main-container{
        width: 350px;
    }
}
//================== Footer ====================//
.attribution { 
    font-size: 12px; 
    text-align: center;
    margin: 20px;
    .a { 
        color: hsl(228, 45%, 44%); 
    } 
}
